body {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  background-color: rgb(0,0,0);
  /* font-family: 'Merriweather', serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  color: grey;
  text-decoration: none;
}

.image_center {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo {
  width: 5%;
}

.image_stadium {
  width: 800px;
}

.list_titles, .list_idols, .list_mascots {
  padding: 0;
  list-style-position: inside;
}