body {
  color: white;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.answer {
  margin-bottom: 10px;
}

.error {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: grey;
  margin-top: 40px;
}