{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styleListremove.css' %}" rel="stylesheet" type="text/css" />
  <title>Deletar Informações</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="font:font-family: 'Roboto', sans-serif;">
  <div>
    <h1>Você tem certeza que deseja <u>remover</u> as informações?</h1>
  </div>
  <div class="answer">
    <form method="POST">
    {% csrf_token %}
    <input type="submit" name="confirmar" value="Sim">
    <input type="submit" value="Não">
  </div>
</form>
</body>
</html>